*.js
!jest.config.js
!cli/dataforge/bin/dataforge.js
!eslint.config.js
!dashboards/web/**/*.js
*.d.ts
node_modules
dist
cdk.out
.cdk.staging
*.swp
.DS_Store
.env
.env.*
!.env.example
*.log
coverage
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.aws-sam
*.tsbuildinfo
.turbo
reports/
.dataforge/
